*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#408fff;
    --secondary-color:#081a32;
    --teriary-color:#004db3;
}
.darkmode{
    --primary-color:black;
    --secondary-color:white;  
    --teriary-color:#c8e0ff; 
}
body{
    background-color:var(--primary-color);
}
.general{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.userOutputs {
    border: solid 2px var(--secondary-color);
    height: 150px;
    width: 90%;
    margin-left: 69px;
    padding-left: 9px;
    padding-top: 8px;
    font-size: 20px;
}
.AllButtons {
    margin-top: 30px;
    margin-left: 113px;
}
button {
    border-radius: 6px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 20px;
    outline: none;
    border: solid 2px pink;
    height: 60px;
    width: 64px;
    margin-left: 8px;
    box-shadow: 5px 5px 5px 2px grey;
    text-align: center;
}
.input{
    border-radius: 6px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 20px;
    outline: none;
    border: solid 2px pink;
    height: 60px;
    width: 64px;
    margin-left: 8px;
    box-shadow: 5px 5px 5px 2px grey;
    text-align: center;
}
button.bsp {
    width: 130px;
}
button.tab {
    width: 110px;
}
button.slash {
    width: 100px;
}
button.backtik {
    width: 80px;
}
.column2 {
    margin-top: 15px;
}
button.cpl {
    width: 132px;
}
button.enter {
    width: 154px;
}
.column3 {
    margin-top: 15px;
}
button.shift {
    width: 181px;
    margin-top: 15px;
}
.column4 {
    margin-top: 0px;
}
.column5 {
    margin-top: 15px;
}
button.com,button.at {
    width: 170px;
}
button.space {
    width: 618px;
}
.actives{
    background-color: lightgreen;
}

button:active{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.showClicked{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}
i{
    font-size: 43px;
    color: white;
} 
.icons {
    margin-bottom: 26px;
    text-align: center;
    margin-top: 9px;
    margin-left: 1188px;
}

.showIc{
    opacity: 1;
}
i{
    opacity: 0;
}
.emojs{
    display: flex;
    gap: 3px;
    width: 243px;
    background-color: var(--teriary-color);
    flex-wrap: wrap;
    border-radius: 11px;
    position: absolute;
    right: 207px;
    bottom: 58px;
}
#emoj {
    padding: 7px 6px;
    width: 38px;
    cursor: pointer;
}
.parent{
    position: relative;
}
.showEmoj{
    display: block;
}
.at{
    cursor: pointer;
}
h1.heading {
    text-align: center;
    margin-top: 70px;
    color: #00ffd0;
    font-size: 46px;
}
.keyboard{
    display: none;
}
.welcome{
    display: none;
}
select#language {
    font-size: 30px;
    font-family: cursive;
    font-weight: 600;
    color: blue;
    background-color: #44ff8f;
    padding: 10px 30px;
    margin-left: 530px;
    margin-top: 40px;
    border: solid 2px #ffd400;
    box-shadow: 7px 5px 10px 3px;
    cursor: pointer;
}

input#go {
    display: block;
    margin: auto;
    margin-top: 40px;
    padding: 10px 58px;
    font-size: 20px;
    border: solid 3px #fbe909;
    background-color: #00ff93;
    color: blue;
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
}
input#go:hover{
    transition: 1s;
    color: #00ff93;
    background-color:rgba(11, 41, 236, 0.93) ;
    cursor: pointer;
}
.showDiv{
    display: block;
}